<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login </title>
</head>
<body>
<h1>Login here </h1>

<div th:if="${errorMsg}">
          <h3  style="color:red"th:text="${errorMsg}"></h3>    
</div>


<form th:action="@{/LoginForm}" th:object="${user}" method="post">
  
   Email id:<input type="text" name="email" th:field="*{email}"/><br/><br/>
   Password: <input type="text" name="password" th:field="*{password}"/><br/><br/>
  
      <input type="submit" value="Login"/>
      
 <input type="submit" value="clear"/><br/>      
</form> 
 <br/> <br/>
  <a href="index.html"> Home </a>
  <br/>
  <br/>
  <a href="regPag"> Register </a>
  
</body>
</html>